* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #EC715F;
  width: 100%;
  height: 70px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.logo-img {
  position: relative;
  z-index: 101;
}

.nav-list{
  display: flex;
  list-style: none;
}

.nav-item a {
  margin: 0 30px;
  color: #FAFAFA;
  text-decoration: none;
  font-size: 16px;
}

.menu-toggle {
  display: none;
  width: 30px;
  height: 25px;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  z-index: 101;
}

.menu-toggle span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FAFAFA;
  transition: all 0.3s ease-in-out;
}

.menu-toggle span:nth-child(1) { top: 0; }
.menu-toggle span:nth-child(2) { top: 10px; }
.menu-toggle span:nth-child(3) { bottom: 0; }


.main-visual {
  background-image: url("mv.png");
  background-size: cover;
  background-position: center;
  height: 650px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.main-visual-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 200px;
}

.main-visual-title {
  font-size: 64px;
  color: #FAFAFA;
  margin: 0;
  font-weight: bold;
}

.main-visual-subtitle {
  font-size: 20px;
  color: #FAFAFA;
  margin-bottom: 10px;
}

.portfolio {
  width: 100%;
  background-color: #ECEFF1;
  display: flex;
  justify-content: center;
}

.portfolio-container {
  width: 920px;
  padding: 90px 0;
}

.content-title {
  font-size: 32px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.content-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  margin: 0 auto;
}

.content-body {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px 0;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.img-fluid, .pc-only{
  width: 300px;
  height: 250px;
  object-fit: cover; #縦横比を保ったまま、要素を覆うように画像を拡大縮小できる
}

.feature {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feature-container {
  width: 980px;
  padding: 90px 0;
}

.feature-body {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px 0;
} 

.feature-items {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.feature-item {
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-item-icon {
  font-size: 60px;
}

.feature-item-title {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  margin: 10px 0;
}

.profile {
  width: 100%;
  background-color: #ECEFF1;
  display: flex;
  justify-content: center;
}

.profile-container {
  width: 1024px;
  padding: 90px 0;
}

.profile-items {
  display: flex;
  justify-content: space-between;
}

.profile-item1 {
  width: 512px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-item-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-item2 {
  width: 512px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-title {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-body {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.contact {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.contact-container {
  width: 800px;
  padding: 90px 0;
}

.contact-items {
  display: flex;
  justify-content: center;
}

.contact-item {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item-content {
  text-align: left;
}

.sns-icon {
  display: flex;
  gap: 10px;
  font-size: 50px;
}

.footer {
  background-color: #EC715F;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAFAFA;
}

@media screen and (max-width: 1023px) {
  .pc-only {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 50px;
    width: 100%;
  }
  .header-container {
    width: 90%;
    height: 50px;
    padding: 5px 0;
    margin: 0 auto;
  }

  .menu-toggle {
    display: block;
    z-index: 110;
  }

  .nav-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #EC715F;
    width: 100%;
    height: 100vh;
    z-index: 105;
  }

  .nav-list {
    flex-direction: column;
    text-align: center;
  }

  .nav-item {
    margin: 20px 0;
  }

  .nav-item a {
    margin: 15px 0;
    font-size: 24px;
    color: #FAFAFA;
  }

  .nav-menu.is-active {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-menu.is-active .nav-list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .menu-toggle.is-active span:nth-child(1) { transform: translateY(11px) rotate(45deg); }
  .menu-toggle.is-active span:nth-child(2) { opacity: 0; }
  .menu-toggle.is-active span:nth-child(3) { transform: translateY(-11px) rotate(-45deg); }

  .main-visual {
    height: 650px;
    padding-top: 200px;
    background-image: url("code.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
  }

  .main-visual-container {
    width: 90%;
  }

  .main-visual-title {
    font-size: 40px;
    color: #FAFAFA;
    margin-bottom: 10px;
  }

  .main-visual-subtitle {
    font-size: 18px;
    color: #FAFAFA;
  }

  .portfolio-container, .feature-container, .profile-container, .contact-container {
    width: 90%;
    padding: 90px 0;
  }

  .content-title {
    font-size: 32px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
  }

  .content-title::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #EC715F;
    margin: 0 auto;
  }

  .content-body {
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin: 30px 0;
  }

  .portfolio-items {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 10px;              
  }

  .pc-only {
    display: none;
  }

  .img-fluid {
    width: 300px;
    height: 250px;
    object-fit: cover;
  }

  .feature, .profile, .contact, .portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .feature-body {
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin: 30px 0;
  }

  .feature-items {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 10px;              
  }

  .profile-items, .contact-items{
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 20px;              
  }

  .profile-item-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }

  .profile-item2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .contact-item-content {
    text-align: center;
  }
}