<nav>
<ul>
<li><%= link_to 'Portfolio', top_path %></li>
<li><%= link_to 'Feature', top_path %></li>
<li><%= link_to 'Profile', top_path %></li>
<li><%= link_to 'Contact', top_path %></li>
</ul>
</nav>